@charset "UTF-8";

/* ================================== */
/*                Fonts               */
/* ================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ================================== */
/*              Variables             */
/* ================================== */
:root {
  --background-color: #25273a;
  --contrast: #ffffff8e;
}


/* ================================== */
/*               Globals              */
/* ================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--background-color);
}

.container-text-container {
  position: relative;
}

.text-container:before {
  position: absolute;
  content: '';
  width: 1rem;
  height: 85%;
  top: 0.7rem;
  left: -1.5rem;
  background-color: purple;
}

.text {
  font-weight: bold;
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--background-color);
  -webkit-text-stroke: 0.1rem rgba(255, 255, 255, 0.5);
  cursor: default;
}

.text:before {
  position: absolute;
  content: attr(data-text);
  width: 0;
  color: purple;
  overflow: hidden;
}

.text:hover {
  text-shadow: 0px 0px 20px rgb(255, 0, 255);
  transition: 1s;
  -webkit-text-stroke: 1px rgb(255, 0, 255);
}

.text:hover:before {
  width: 100%;
  transition: 1.5s ease-in;
}

.text:not(:hover):before {
  width: 0;
  transition: 1.5s ease-out;
}

.text-container:hover:before {
  left: calc(100% + 10px);
  transition: 1.5s ease-in;
}

.text-container:not(:hover):before {
  left: -15px;
  transition: 1.5s ease-out
}