@charset "UTF-8";

body {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: radial-gradient(circle at top center, rgb(255, 86, 137), rgba(255, 86, 137, 0.282)),
                    radial-gradient(circle at bottom left, rgb(246, 255, 73), transparent, transparent),
                    radial-gradient(circle at bottom right, rgb(74, 168, 255), transparent, transparent);
  height: 100vh;
  overflow: hidden;
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 50vh;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  z-index: 10;
}

.social-media-container {
  position: relative;
  display: flex;
  gap: 30px;
  top: 9%;
  left: 25%;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  z-index: 1;
  transition: 1s;
}

.social-media:hover {
  animation: getToFront 1s forwards ease-in;
}

.social-media:not(:hover) {
  animation: getToBack 1s;
}

.icon {
  font-size: 3rem;
  filter: invert();
}

@keyframes getToFront {
  0% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(-70%);
  }
  100% {
    transform: translateX(0%);
    backdrop-filter: blur(15px);
    z-index: 30;
  }
}

@keyframes getToBack {
  0% {
    transform: translateY(0%);
    backdrop-filter: blur(15px);
    z-index: 11;
  }
  60% {
    transform: translateY(-70%);
    z-index: 1;
  }
  100% {
    transform: translateY(0%);
  }
}