@charset "UTF-8";

:root {
	--background-color: #343334;
	--calculator-color: #343334;
	--display-color: #a8ad7e;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

html {
	font-family: monospace;
	overflow-y: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--background-color);
}

.calculator {
	padding: 15px 25px;
	border-radius: 15px;
	background-color: var(--calculator-color);
	box-shadow: 30px 35px 40px 0 rgba(0, 0, 0, 0.3),
							inset 0px 0px 8px 0px rgb(16, 15, 15);
}

.display {
	font-size: 3em;
	text-align: right;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 350px;
	height: 90px;
	margin: 10px auto;
	padding: 0px 5px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: var(--display-color);
	overflow: hidden;
}

.keyboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	justify-items: center;
	gap: 1em;
	height: 400px;
}

.key {
	position: relative;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border: 2px solid black;
	border-radius: 10px;
	color: white;
	box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4), inset 3px -8px 8px 0px rgb(55, 55, 55), inset 0px 0px 8px 3px rgb(0, 0, 0);
	cursor: pointer;
	user-select: none;
	z-index: 1;
	transition: 0.5s;
}

.key > span {
	z-index: 2;
}

.key::after {
	position: absolute;
	top: 3px;
	left: 3px;
	content: '';
	width: 80%;
	height: 80%;
	border-radius: 5px;
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0.083), .333);
	box-shadow: inset -0.5px -0.5px 3px 0px rgba(158, 121, 121, 0.549),
							inset 0.5px 0.5px 3px 0px rgb(12, 12, 12);
}

.erase {
	background-color: red;
	grid-column-start: 1;
	grid-column-end: 3;
	background-image: linear-gradient(to left, rgb(221, 3, 3), rgb(225, 0, 0), red);
	box-shadow: inset 0px 0px 8px 3px rgb(193, 0, 0);
}

.erase::after {
	position: absolute;
	top: 2px;
	left: 3px;
	content: '';
	width: 90%;
	height: 80%;
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0.378), rgb(209, 0, 0));
	box-shadow: inset -0.5px -0.5px 3px 0px rgba(255, 255, 255, 0.583),
							inset 0.5px 0.5px 3px 0px rgb(0, 0, 0);
}

.plus {
	grid-column-start: 4;
	grid-row-start: 3;
	grid-row-end: 5;
}

.plus::after {
	content: '';
	height: 85%;
}

.equal {
	background-image: linear-gradient(to left, rgb(55, 61, 255), rgb(0, 89, 255));
	box-shadow: inset -0.5px -0.5px 3px 0px rgba(5, 0, 145, 0.741),
							inset 0.5px 0.5px 3px 0px rgb(60, 58, 226);
}

.equal::after {
	content: '';
	background-image: linear-gradient(to left, rgba(125, 129, 255, 0.685), rgb(0, 73, 209));
}