@charset "UTF-8";

:root {
	--background-color: #343334;
	--calculator-color: #343334;
	--display-color: #a8ad7e;
}

html {
	font-family: monospace;
	overflow-y: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--background-color);
}

.calculator {
	padding: 15px 20px;
	border-radius: 15px;
	background-color: var(--calculator-color);
	box-shadow: 30px 35px 40px 0 rgba(0, 0, 0, 0.3),
							inset 0px 0px 8px 0px rgb(16, 15, 15);
}

.display {
	font-size: 3em;
	text-align: right;
	width: 350px;
	margin: 10px auto;
	padding: 25px 5px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: var(--display-color);
}

.keyboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	justify-items: center;
	height: 400px;
}

.key-wrapper {
	position: relative;
	width: 90%;
	height: 90%;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.4), inset -2px -8px 2px 14px rgb(68, 68, 68);
	cursor: pointer;
}

.key {
	position: absolute;
	top: 5px;
	left: 7px;
	width: 75%;
	height: 70%;
	border-radius: 5px;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
}