@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--form-color: #313641;
	--icon-color: #FF3A7E;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Roboto", sans-serif;
	overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--form-color);
}

.log-in-form-wrapper {
	display: grid;
	grid-template-rows: 160px repeat(2, 1.8fr) 0.6fr 1.3fr 1fr;
	width: 500px;
	height: 600px;
	padding: 0px 52px;
	border-radius: 20px;
	background-color: var(--form-color);
	box-shadow: inset 4px 4px 16px 0px rgba(255, 253, 253, 0.14),
							inset -4px -4px 16px 0px rgba(0, 0, 0, 0.31);
	color: white;
}

.log-in-form-wrapper > h1 {
	font-size: 3em;
	text-align: center;
	align-self: center;
}

.input-area {
	display: grid;
	grid-template-rows: 1em 1fr;
	row-gap: 10px;
	align-self: center;
	
}

.input-area > h3 {
	position: relative;
	font-size: 1.2em;
	text-align: left;
	padding-left: 10px;
}

.input-area > h3::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	height: 1em;
	width: 4px;
	background-color: white;
}

.input-wrapper {
	display: flex;
}

.icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 64px;
	border-radius: 40px;
	box-shadow: 4px 4px 32px 0px black,
							inset -4px -4px 16px 0px #750028,
							inset 4px 4px 16px 0px rgba(255, 255, 255, 0.494);
	background-color: var(--icon-color);
}

.icon-wrapper > ion-icon {
	font-size: 2em;
}

.input-wrapper > input {
	font-size: 1em;
	width: 90%;
	padding: 20px;
	outline: none;
	border: none;
	border-radius: 30px;
	margin-left: 20px;
	box-shadow: 4px 4px 32px 0px black,
							inset -4px -4px 16px 0px gray;
}

.remember-me-wrapper {
	align-self: center;
	font-weight: bold;
}

.button-log-in {
	height: 70px;
	font-size: 1.5em;
	font-weight: bold;
	border: none;
	border-radius: 30px;
	box-shadow: 4px 4px 16px 0px black,
							inset 4px 4px 16px 0px rgba(255, 255, 255, 0.323),
							inset -4px -4px 16px 0px #124B8D;
	background-color: #1D78E0;
	color: white;
}

.link {
	font-weight: bold;
	align-self: baseline;
	color: white;
	text-decoration: none;
}