@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  background-color: #303640;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 15px 45px;
  border-radius: 14px;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.333), inset -4px -4px 16px white;
}

li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li:after {
  position: absolute;
  width: 10px;
  height: 10px;
  offset: 0;
  background-color: red;
}

li ion-icon {
}

li span {
  position: absolute;
  offset: 0;
  font-weight: normal;
  font-size: 12px;
  opacity: 0;
}
