@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #222;
}

body::before {
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(#08ff12, #0791ff);
	mix-blend-mode: multiply;
	z-index: 10;
}

.circle {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 500px;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 50%;
	box-shadow: 0 0 0 2px #fff5,
	0 0 0 20px #333,
	0 0 0 22px #fff,
	0 0 50px #fff,
	0 0 200px #fff;
}

.circle::before {
	content: '';
	position: absolute;
	width: 2px;
	height: 170px;
	border-radius: 2px;
	background: linear-gradient(transparent, #fff);
	transform-origin: bottom;
	animation: animateNiddles 3600s steps(60) infinite;
}

.circle::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 130px;
	border-radius: 2px;
	background: linear-gradient(transparent, #fff);
	transform-origin: bottom;
	animation: animateNiddles 60s steps(60) infinite;
}

@keyframes animateNiddles {
	0% {
		transform: translate(20%, -40%) rotate(0deg);
	}
	100% {
		transform: translate(20%, -40%) rotate(360deg);
	}
}

ul {
	list-style: none;
}

ul li {
	font-family: consolas;
	font-size: 3em;
	font-weight: bold;
	position: absolute;
	top: 10px;
	color: #fff;
	transform-origin: 0 240px;
	transform: rotate(calc(30deg * var(--i)));
}

ul li span {
	display: inline-block;
	transform: rotate(calc(-30deg * var(--i)));
	text-transform: uppercase;
}