@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #313641;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background: var(--bg-color)
}

.analog-clock {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	box-shadow: inset 16px 8px 16px rgba(165, 165, 165, 0.1),
	inset -16px -8px 16px rgba(0, 0, 0, 0.1),
	inset 0 0 0 90px var(--bg-color),
	inset 0 0 1px 91px rgba(0, 0, 0, 0.3),
	inset 0 0 0 120px var(--bg-color),
	inset 0 0 1px 121px rgba(0, 0, 0, 0.3),
	inset 0 0 0 150px var(--bg-color),
	inset 0 0 1px 151px rgba(0, 0, 0, 0.3),
	inset 0 0 0 450px var(--bg-color),
	0 0 32px 10px rgba(0, 0, 0, 0.5);
}

.digital-clock-wrapper {
	
}

.digital-clock {
	position: relative;
	width: 350px;
	height: 70px;
	border-radius: 40px;
	margin: 40px 0;
	box-shadow: 4px 4px 16px black;
}